venv/
instance/
XenServer-SDK/
.idea/

.env
*.swp
*.pyc
.meteor
.*~
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject

# Ignore config files relative to top level
/config.yaml